<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="ProjectName" value="StudyCenter" />
		<add key="MaxPersonAge" value="100" />
		<add key="MinPersonAge" value="10" />
	</appSettings>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.;Database=StudyCenter;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
