<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="ProjectName" value="StudyCenter" />
		
		<add key="MaxPersonAge" value="100" />
		<add key="MinPersonAge" value="10" />
		
		<add key="RowsPerPage" value="10" />
		
		<add key="DailyLectureDurationInHour" value="1"/>
		<add key="STTLectureDurationInHour" value="1.5"/>
		<add key="MWLectureDurationInHour" value="2"/>
		
		<add key="StudyCenterOpeningTime" value="08:00 AM"/>
		<add key="StudyCenterClosingTime" value="11:00 PM"/>
	</appSettings>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.;Database=StudyCenter;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
